$white: #EEEDEE;
$black: #242527;

#carousel{
    height: auto;
    width: 40vw;
    margin-right: 20px;
    position: absolute;
    bottom: 10vh;
    right: 0;
    z-index: 100000000;
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: right;
    overflow-x: scroll;

}

#carousel::-webkit-scrollbar {
    -webkit-appearance: none;
}

#carousel::-webkit-scrollbar:vertical {
    width:5px;
}

#carousel::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 
#carousel::-webkit-scrollbar:horizontal {
    height: 5px;
    width:20px;
}
#carousel::-webkit-scrollbar-thumb {
    background-color: $white;
    border-radius: 20px;
    border: none;
}
#carousel.contenedor::-webkit-scrollbar-track {
    border-radius: 10px;  
}


#carousel img{
    height: 20vh;
    width: auto;
    margin: 0 5px;
    border-radius: 1px;
    padding-bottom: 20px;
}

#carousel button{
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
}