$white: #EEEDEE;
$black: #242527;

#menu{
    height: 100vh;
    background: $black;
    width: 20vw;
    position: absolute;
    left: 5vw;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    
}

#menu ul{
    list-style: none;
}

#menu ul li{
    padding: 20px;
}

#menu ul li a{
    cursor: pointer;
}


@media screen and (max-width: 600px) {
    #menu{
        height: 20vh;
        width: 100vw;
        left: 0;
        top: 5vh;
    }
}