$white: #EEEDEE;
$black: #242527;

.none{
    display: none;
}

#nav-bar{
    background: $black;
    height: 100vh;
    width: 5vw;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#nav-bar h1{
    font-size: 20px;
    transform: rotate(-90deg);
    width: 30vh;
    text-align: right;
    padding-right: 10vh;
}

#nav-bar button{
    background: none;
    border:none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-bar button img{
    width: 30px;
    height: 30px;
}

#nav-bar ul{
    list-style: none;
}

#nav-bar ul li{
    cursor: pointer;
}
#nav-bar ul li a img{
    width: 30px;
    height: 30px;
}
@media screen and (max-width: 600px) {
    #nav-bar{
        min-height: 5vh;
        height: auto;
        width: 100vw;
        flex-direction: row;
        align-items: center;
        padding-top: 2px;
    }
    #nav-bar h1{
        transform: rotate(0);
        width: auto;
        font-size: auto;
        height: 100%;
    }
    #nav-bar .social-media{
        padding:30px;
    }
    #nav-bar button{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #nav-bar button img{
        width: 20px;
        height: 20px;
    }
    #nav-bar ul li a img{
        width: 20px;
        height: 20px;
        background: crimson;
    }

}